[submodule "Aeds_3/TP_2_AEDs_III"]
	path = Aeds_3/TP_2_AEDs_III
	url = https://github.com/vfmoraes/TP_2_AEDs_III
[submodule "Aeds_3/TP_1_AEDs_III"]
	path = Aeds_3/TP_1_AEDs_III
	url = https://github.com/LuisAugusto0/TP_1_AEDs_III
[submodule "Aeds_3/TP_3_AEDs_III"]
	path = Aeds_3/TP_3_AEDs_III
	url = https://github.com/vfmoraes/TP_3_AEDs_III
[submodule "ti-1-pmg-cc-m-20231-tiaw-questoes-sobre-tecnologia-1-5"]
	path = ti-1-pmg-cc-m-20231-tiaw-questoes-sobre-tecnologia-1-5
	url = https://github.com/ICEI-PUC-Minas-PMGCC-TI/ti-1-pmg-cc-m-20231-tiaw-questoes-sobre-tecnologia-1-5
