[submodule "Aeds_3/TP_2_AEDs_III"]
	path = Aeds_3/TP_2_AEDs_III
	url = https://github.com/vfmoraes/TP_2_AEDs_III
[submodule "Aeds_3/TP_1_AEDs_III"]
	path = Aeds_3/TP_1_AEDs_III
	url = https://github.com/LuisAugusto0/TP_1_AEDs_III
[submodule "Aeds_3/TP_3_AEDs_III"]
	path = Aeds_3/TP_3_AEDs_III
	url = https://github.com/vfmoraes/TP_3_AEDs_III

[submodule "TI-01"]
	path = TI-01
	url = https://github.com/ICEI-PUC-Minas-PMGCC-TI/ti-1-pmg-cc-m-20231-tiaw-questoes-sobre-tecnologia-1-5
[submodule "TI-02"]
	path = TI-02
	url = https://github.com/Mateus-Fernandes-Barbosa/TI-02
[submodule "Aeds_3/TP_4_AEDs_III"]
	path = Aeds_3/TP_4_AEDs_III
	url = https://github.com/vfmoraes/TP_4_AEDs_III
	branch = main
[submodule "TI-05/heatSyncJava"]
	path = TI-05/heatSyncJava
	url = https://github.com/LuisAugusto0/heatSyncJava
[submodule "TI-05/ti5-graph"]
	path = TI-05/ti5-graph
	url = https://github.com/mouroz/ti5-graph
[submodule "TI-04/TI-4_Bakumatsu_The_Last_Blade"]
	path = TI-04/TI-4_Bakumatsu_The_Last_Blade
	url = https://github.com/LuisAugusto0/TI-4_Bakumatsu_The_Last_Blade
[submodule "Redes_1/BatalhaNaval"]
	path = Redes_1/BatalhaNaval
	url = https://github.com/LuisAugusto0/BatalhaNaval
[submodule "Arquitetura_III/SimulatorTomasuloAlgorithm"]
	path = Arquitetura_III/SimulatorTomasuloAlgorithm
	url = https://github.com/Mateus-Fernandes-Barbosa/SimulatorTomasuloAlgorithm
[submodule "Laboratorio_de_Desenvolvimento_Mobile/Vamo-Rachar"]
	path = Laboratorio_de_Desenvolvimento_Mobile/Vamo-Rachar
	url = https://github.com/LuisAugusto0/Vamo-Rachar
[submodule "Projeto_e_Analise_de_Algoritmos/TED-Problem"]
	path = Projeto_e_Analise_de_Algoritmos/TED-Problem
	url = https://github.com/vfmoraes/TED-Problem
